/* Custom container */
.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}
.container-narrow > hr {
        margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	/*margin: 40px 0;*/
	text-align: center;
}
.jumbotron h1 {
	font-size: 48px;
	line-height: 1;
}

.jumbotron h1, h2 {
	margin: 21px;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}
.jumbotron input {
	font-size: 21px;
	padding: 14px 24px;
}

#mapview, #empty{
	display:none;
}


#tagcloud{
	text-align: center;
}

#map_canvas{
	width: 700px;
	height: 500px;
}
#overlay{
	width: 670px;
	height: 470px;
	background-color:rgba(0,0,0,0.3);
	border-radius:7px;
	border:solid 1px #000;
	color:#ffffff;
}
#overlay .exit_button{
	width:25px;
	height:25px;
	border:none;
	border-radius:5px;
	background:url('../img/close-x.png') no-repeat;
	position:absolute;
	left:635px;
	top:10px;
}
#overlay .exit_button:hover{
	background: url('../img/close-x_hover.png') no-repeat;
}
