/* Custom container */
.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}
.container-narrow > hr {
        margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	/*margin: 40px 0;*/
	text-align: center;
}
.jumbotron h1 {
	font-size: 48px;
	line-height: 1;
	min-height:48px;
}

.jumbotron h1, h2 {
	margin: 21px;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}
.jumbotron input {
	font-size: 21px;
	padding: 14px 24px;
}

#mapview, #empty{
	display:none;
}


#tagcloud{
	text-align: center;
}

#map_canvas{
	width: 700px;
	height: 500px;
	box-shadow:0px 0px 5px rgba(0,0,0,0.5);
}
#overlay{
	width: 670px;
	height: 470px;
	background-color:rgba(0,0,0,0.75);
	border-radius:7px;
	border:solid 1px #000;
	color:#ffffff;
	text-align:left;
}
#overlay .exit_button{
	width:25px;
	height:25px;
	border:none;
	border-radius:5px;
	background:url('../img/close-x.png') no-repeat;
	position:absolute;
	left:635px;
	top:10px;
}
#overlay .exit_button:hover{
	background: url('../img/close-x_hover.png') no-repeat;
}
#overlay div{
	float:left;
	padding:0px 0px 0px 30px;
	width:100%;
}
#overlay div.name {
	font-size:30px;
	padding:60px 0px 30px 30px;
	text-align:center;
	text-shadow:1px 1px 1px #000;
	max-width:600px;
	line-height:1.2;
}
#overlay div h2, h3{
	padding:10px 0px 0px 0px;
	margin:0px;
	display:block;
	font-size:20px;
	line-height:1;
	width:150px;
}
#overlay div h2{
	padding-top:30px;
}
#overlay .origin{
	position:absolute;
	text-align:right;
	font-size:11px;
	top:445px;
	right:10px;
}
